{% extends "base.html" %}
{% load static from staticfiles %}


{% block content %}
<div class="row">
    <div class="large-12 small-12 columns">
        <div class="row">

            <div class="large-2 small-3 columns">
                <a href="#" id="bandShow"><i class="sprite-tile-vertical"></i></a>&nbsp;&nbsp;&nbsp;
                <a href="#" id="tileShow"><i class="sprite-tile"></i></a>
            </div>
            
            <div class="large-7 small-6 columns">
                <!-- dropdown sort call-->
                <a href="#" data-dropdown="dropSort" class="tiny button dropdown secondary">
                  Sort by
                </a>
            </div> 

            <div class="large-3 small-3 columns">
                <input id="TagfilterInput" type="text" placeholder="Tag filter" data-order="name"/>
                <div id="TagList" class="panel">
                    <h6>Existing tags</h6>
                    {% for tag in tag_list %} 
                        <span class="badge">{{tag.label}}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div id="projects">
            {% include "projects/projectList.html" with project_list=project_list %}
        </div>    
    </div>
</div>

<!-- dropdown sort -->
<ul id="dropSort" class="f-dropdown">
    <li><a href="#" id="sortProjectByName">Nom</a></li>
    <li><a href="#" id="sortProjectBySuposedDate">Date d'ajout du projet</a></li>
</ul>
{% endblock %}