<div  id="bands">
    {% for project in project_list %}
    	{% include "projects/projectTitleBand.html" with project=project %}
	{% endfor %}
</div>

<ul class="small-block-grid-1 large-block-grid-4" id="tiles" style="display: none">
    {% for project in project_list %}
       <li>{% include "projects/projectTitleTile.html" with project=project %}</li>
    {% endfor %}
</ul>