
<div class="panel radius tile">
    <div class="hide-for-small">
        <img class="th" src="http://baconmockup.com/200/150" width="300" height="150" />
        <strong>{{ project.name }}</Strong><br />

        {% for tag in project.tags.all %}
            <span class="badge">{{tag.label}}</span>
        {% endfor %}
    </div>


    <div class="show-for-small">
        <!-- landscape smartphone -->
        <div class="row show-for-landscape">
            <div class="small-6 columns">
                <img class="th" src="http://baconmockup.com/200/150" width="300" height="150" />
            </div>
            <div class="small-6 columns">
                <strong>{{ project.name }}</Strong><br />
                {% for tag in project.tags.all %}
                    <span class="badge">{{tag.label}}</span>
                {% endfor %}
            </div>
        </div>


        <!-- portrait smartphone -->
        <div class="show-for-portrait">
            <img class="th" src="http://baconmockup.com/200/150" width="300" height="150" />
            <strong>{{ project.name }}</Strong><br />

            {% for tag in project.tags.all %}
                <span class="badge">{{tag.label}}</span>
            {% endfor %}
        </div>
    </div>
</div>
