
<div class="row">
    <div class="large-2 small-3 columns" >
        <img class="center th" src="http://baconmockup.com/200/200" width="120" height="120" />
    </div>

    <div class="large-7 columns">
        <h4>{{ project.name }}</h4>
        {{ project.abstract|safe }}
        <br /><br />
        <ul class="inline-list">
          <li><a href="" class="small button">Show more</a></li>
          <li><a href="">Share</a></li>
        </ul>
    </div>

    <div class="large-3 columns tags">
        {% for tag in project.tags.all %}
            <span class="badge">{{tag.label}}</span>
        {% endfor %}
    </div>
</div>
<hr/>