{% extends "base.html" %} 
{% load static from staticfiles %} 
{% block content %}
<!-- Main Page Content and Sidebar -->

<div class="row">

    <!-- Contact Details -->
    <div class="small-12 large-9 columns">

        <h3>Get in Touch!</h3>
        <p>
            We'd love to hear from you. You can either reach out to us as a whole
            and one of our awesome team members will get back to you, or if you
            have a specific question reach out to one of our staff. We love
            getting email all day <em>all day</em>.
        </p>



        <section class="section">
            <form>
                <fieldset>
                    <legend>Contact</legend>
                    <div class="row collapse">
                        <div class="large-2 columns">
                            <label class="inline">Your Name</label>
                        </div>
                        <div class="large-10 columns">
                            <input type="text" id="yourName" placeholder="Jane Smith">
                        </div>
                    </div>
                    <div class="row collapse">
                        <div class="large-2 columns">
                            <label class="inline"> Your Email</label>
                        </div>
                        <div class="large-10 columns">
                            <input type="text" id="yourEmail" placeholder="jane@smithco.com">
                        </div>
                    </div>
                    <label>What's up?</label>
                    <textarea rows="4"></textarea>
                    <button type="submit" class="radius button">Submit</button>
                </fieldset>
            </form>

        </section>
    </div>

    <!-- End Contact Details -->


    <!-- Sidebar -->

    <div class="small-12 large-3 columns">

        <h5>Social contact</h5>
        <p>{% include "base/socialLink.html" %}</p>

        <h5>Mobile contact</h5>
        <p>
            <img src="{% static 'Perswin/img/qrCode.png' %}" />
        </p>

        <!--  <h5>Map</h5>
      <p>
        <a href="" data-reveal-id="mapModal"><img src="http://baconmockup.com/200/200" /></a><br />
        <a href="" data-reveal-id="mapModal">View Map</a>
      </p>
      <p>
        123 Awesome St.<br />
        Barsoom, MA 95155
      </p> -->
    </div>
    <!-- End Sidebar -->
</div>

<!-- End Main Content and Sidebar -->

{% endblock %}