{% extends "base.html" %} {% block content %}

<div class="row">
	<div class="small-12 large-10 column">
		<div class="row">
			<div class="small-12 large-4 push-8 columns">
				<img src="http://baconmockup.com/400/300" />
			</div>
			<div class="small-12 large-8 pull-4 columns">
				<h4>This is a content section.</h4>

				<p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation
					eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore
					aliqua non est magna in labore pig pork biltong. Eiusmod swine
					spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump
					corned beef.</p>

				<p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork
					chop in. Swine short ribs meatball irure bacon nulla pork belly
					cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui
					bresaola enim jowl. Capicola short ribs minim salami nulla nostrud
					pastrami.</p>

			</div>
		</div>

		<div class="row">
			<div class="small-12 columns">
				<div class="panel">
					<h4>Get in touch!</h4>

					<div class="row">
						<div class="small-12 large-8 columns">
							<p>We'd love to hear from you, you attractive person you.</p>
						</div>
						<div class="small-12 large-4 columns">
							<a href="/contact" class="radius button right">Contact Us</a><br />
						</div>
					</div>

					<div class="row">
						<div class="small-12 columns right">
							{% include "base/socialLink.html" %}
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="small-12 large-2 columns">
	<ul class="side-nav">
			<li class="active"><a href="#">Link 1</a></li>
			<li><a href="#">Link 2</a></li>
			<li class="divider"></li>
			<li><a href="#">Link 3</a></li>
			<li><a href="#">Link 4</a></li>
		</ul>
	</div>

</div>
{% endblock %}
