{% extends "base.html" %}


{% block content %}
<div class="row">
    <article class="small-12 columns">
      	<h4>Perswin</h4>
      	Projet réalisé pour faire ce site, sous licence Creative Commons</p>
		<p>
			<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.0/be/">
			<img alt="Licence Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/2.0/be/88x31.png" />
			</a>
		</p>
		<p>
			<span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Dataset" property="dct:title" rel="dct:type">Perswin</span> de <a xmlns:cc="http://creativecommons.org/ns#" href="http://manudev.be" property="cc:attributionName" rel="cc:attributionURL">manuel servais</a> est mis à disposition selon les termes de la <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.0/be/">licence Creative Commons Attribution - Pas d’Utilisation Commerciale - Partage dans les Mêmes Conditions 2.0 Belgique</a>.
		</p>
		<p><a href="https://github.com/movrack/perswin" target="_blank"><i class="sprite sprite-github"></i> Repository Github</a></p>
    </article>

    <article class="small-12 columns">
      	<h4>Django</h4>
    </article>

    <article class="small-12 columns">
      	<h4>Foundation</h4>
    </article>

    <article class="small-12 columns">
      	<h4>JQuery</h4>
    </article>

    <article class="small-12 columns">
      	<h4>Fugue icons set</h4>
    </article>
  </div>
{% endblock %}