{% load static from staticfiles %}
{% load compress %}

{% compress js %}
  
  <!-- Included JS Files (Compressed) -->
  <script src="{% static 'jquery/jquery-1.8.3.min.js'%}"></script>
  <script src="{% static 'foundation/js/foundation.min.js'%}"></script>   
  
  <!-- Initialize JS Plugins -->
  <script async src="{% static 'Perswin/js/perswin.js'%}"></script>
{% endcompress %}