  <footer class="row">
    <div class="small-12 columns">
      <hr />
      <div class="row">
        <div class="small-6 columns">
          <p>Site web réalisé par <a href="#">Manuel Servais</a> avec le projet Perswin</p>
        </div>
        <div class="small-6 columns right">
          <a href="licence">Licences</a></li>
        </div>
      </div>
    </div> 
  </footer>