
<nav class="top-bar">
	<ul class="title-area">
		<!-- Title Area -->
		<li class="name">
			<h1>
				<a href="/">Manudev </a>
			</h1>
		</li>
		<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
		<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
	</ul>

	<section class="top-bar-section">
		<!-- Right Nav Section -->
		<ul class="right">
			<li class="divider"></li>
			<li class="has-dropdown">
			<li><a href="me">Me</a></li>
			<li class="divider"></li>
			<li><a href="projects">Projets</a></li>
			<li class="divider"></li>
			<li><a href="contact">Contact</a></li>
			<li class="divider"></li>
		</ul>
	</section>
</nav>