<a href="" title="LinkedIn"><i class="sprite-linkedin"></i></a>
<a href="" title="Viadeo"><i class="sprite-viadeo"></i></a>
<a href="" title="Google Plus"><i class="sprite-gplus"></i></a>
<a href="" title="Twitter"><i class="sprite-twitter"></i></a>
<a href="" title="Github"><i class="sprite-github"></i></a>
<a href="" title="BitBucket"><i class="sprite-bitbucket"></i></a>
<a href="" title="SourceForge"><i class="sprite-sf"></i></a>