{% load static from staticfiles %}
{% load compress %}
{% compress css %}
  <link rel="stylesheet" href="{% static 'Perswin/css/badges.css'%}">
  <link rel="stylesheet" href="{% static 'foundation/css/foundation.min.css' %}">
  <link rel="stylesheet" href="{% static 'foundation/css/fc-webicons.css' %}">
  <link rel="stylesheet" href="{% static 'Perswin/css/style.css'%}">
{% endcompress %}