{% load static from staticfiles %}
{% load compress %}

<script type="text/javascripts" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% compress js %}
  <script async src="{% static 'foundation/javascripts/modernizr.foundation.js'%}"></script>
{% endcompress %}