.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }
.center img { margin: auto; text-align: center;}
body {
	background: url(../img/background.png);
	background-repeat: repeat;
}
@media only screen and (max-width: 767px) {
	body { width: 95%; margin: auto;}
  	#content {
  		padding : 0.5em;
		background: white;
  	}
}

#content {
	margin-top : -2em;
}
#content >.row {
	background: white;
	padding-top: 1em;
}

.sprite-tile-vertical{ background-position: 0 0; width: 16px; height: 16px; } 
.sprite-tile{ background-position: 0 -26px; width: 16px; height: 16px; } 
.sprite-bitbucket{ background-position: 0 -52px; width: 30px; height: 30px; } 
.sprite-facebook{ background-position: 0 -92px; width: 30px; height: 30px; } 
.sprite-rss{ background-position: 0 -132px; width: 30px; height: 30px; } 
.sprite-rss-s{ background-position: 0 -172px; width: 20px; height: 20px; } 
.sprite-github{ background-position: 0 -202px; width: 30px; height: 30px; } 
.sprite-gplus{ background-position: 0 -242px; width: 30px; height: 30px; } 
.sprite-icon{ background-position: 0 -282px; width: 30px; height: 30px; } 
.sprite-linkedin{ background-position: 0 -322px; width: 30px; height: 30px; } 
.sprite-twitter{ background-position: 0 -362px; width: 30px; height: 30px; } 
.sprite-viadeo{ background-position: 0 -402px; width: 30px; height: 30px; } 

i {
    background: url(../img/perswinSprite.png) no-repeat top left;
    display: inline-block;
}

.badge { margin-bottom : .3em;}
.tile {
	margin-left : .5em;
	margin-right : .5em;
}

#TagList {
	position: absolute;
	z-index: 2;
	width: 200px;
	display: none;
}