{% load static from staticfiles %}
<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="fr"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="fr"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="fr"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  {# Cache 1 semaine #}
  <meta http-equiv="Cache-control" content="max-age=604801,s-maxage=604801, public">
  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <link rel="shortcut icon" type="image/png" href="{% static 'Perswin/img/favicon.png'%}"> 
  <title>Manudev</title>

  {% include "base/stylesheet.html" %}
  {% include "base/topJs.html" %}

</head>
<body>
{% include "base/header.html" %} 
<div id="content">
	<div class="row">
<br />
	</div>
	{% block content %}{% endblock %}
</div>  
{% include "base/footer.html" %}
{% include "base/bottomJs.html" %}
{% block js %}{% endblock %}
</body>
</html>
